<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>

    <!-- Header -->
    <div th:replace="fragments/header :: header"></div>

    <div class="container">

        <div class="page-header">
            <h1>List of customers</h1>
        </div>
        <p>More info here.</p>

        <div th:if="${customers.empty}">
            <p>No customers were found.</p>
        </div>

        <table th:if="!${customers.empty}" class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.id}">1</td>
                    <td><a th:href="@{/customer/{id}(id=${customer.id})}" th:text="${customer.name}">Name</a></td>
                    <td th:text="${customer.name}">Description</td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer class="footer">
        <div th:replace="fragments/footer :: footer"></div>
    </footer>
</body>
</html>