<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>

<!-- Header -->
    <div th:replace="fragments/header :: header"></div>

    <div class="container">

        <div class="page-header">
            <h1>Create invoice</h1>
        </div>
        <p>Add an invoice</p>

        <form action="#" th:action="@{/invoice/new}" th:object="${invoice}" method="post">

            <!-- Het formulier wordt na verzenden gevalideerd in de InvoiceController.
                Als er fouten waren kun je hier een lijst met foutmeldingen tonen.
                Je kunt ook de melding bij het inputveld tonen (zie code hieronder) en evt. de CSS class
                van het inputveld veranderen. -->
            <!--<ul th:if="${#fields.hasErrors('*')}" class="errorlist">-->
            <!--<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>-->
            <!--</ul>-->

            <div th:if="${#fields.hasErrors('*')}">
                <div layout:include="views/invoice/alert :: alert" th:with="type='danger', header='Fouten in het formulier'" th:remove="tag">
                    <!--/* Implements alert content fragment with full-blown HTML content */-->
                    <th:block layout:fragment="alert-content">
                        <p>Niet alle velden in het formulier zijn correct ingevuld. Corrigeer deze en verzend opnieuw.</p>
                        <!--<p><button type="button" class="btn btn-danger">Take this action</button></p>-->
                    </th:block>
                </div>
            </div>
            <div th:if="${exception}">
                <div layout:include="views/invoice/alert :: alert" th:with="type='danger', header='Fouten in het formulier'" th:remove="tag">
                    <!--/* Implements alert content fragment with full-blown HTML content */-->
                    <th:block layout:fragment="alert-content">
                        <p th:text="${exception}">Exception message</p>
                    </th:block>
                </div>
            </div>


            <input type="hidden" name="hidden_id"
                   th:field="*{id}" th:value="${id}"/>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Naam</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}"/>
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="customer">Klant</label>
                        <select class="form-control" th:field="*{customer.id}">
                            <option id="customer" th:each="customer : ${customers}"
                                    th:value="${customer.id}"
                                    th:text="${customer.getName().toString()}">Klant</option>
                            <p th:if="${#fields.hasErrors('customer.id')}"
                               th:errors="*{customer.id}">Name Error</p>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="expirationDate">Verloopdatum</label>
                        <input type="date" class="form-control" id="expirationDate" th:field="*{expirationDate}"/>
                        <p th:if="${#fields.hasErrors('expirationDate')}" th:errors="*{expirationDate}">Name Error</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="date">Datum</label>
                        <input type="date" class="form-control" id="date" th:field="*{date}"/>
                        <p th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Name Error</p>
                    </div>
                </div>
                <div class="col-sm-4">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-primary" type="submit" name="addRow" >Behandeling toevoegen</button>
                    <div th:each="t, stat : *{treatments}">

                        <div th:text="${t.name}" th:name="${t.name}" >Item description here...</div>

                        <select th:field="*{treatments[__${stat.index}__].name}" class="form-control input-sm ofa">

                            <div th:each="ltt, stat : ${loadedTreatments}">
                                <option  th:value="${ltt.name}"
                                         th:if="${ltt.getName().equals(t.getName())}"
                                         th:text="${ltt.name}" selected="selected"></option>
                                <option  th:value="${ltt.name}"
                                         th:if="${!ltt.getName().equals(t.getName())}"
                                         th:text="${ltt.name}"></option>
                            </div>
                        </select>
                        <button type="submit" name="removeRow"
                                th:value="${stat.index}" ><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>
            </div>
            <!-- De button die voor verzenden van het formulier zorgt.
                De name 'save' is een parameter waarmee in de MemberController de juiste
                save-actie wordt gestart. -->
            <button type="submit" class="btn btn-primary" name="save">Submit</button>
        </form>
    </div>

    <footer class="footer">
        <div th:replace="fragments/footer :: footer"></div>
    </footer>
</body>
</html>