<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>

    <!-- Header -->
    <div th:replace="fragments/header :: header"></div>

    <div class="container">

        <div class="page-header">
            <h1>List of invoices</h1>
        </div>
        <p>More info here.</p>

        <div th:if="${invoices.empty}">
            <p>No invoices were found.</p>
        </div>

        <table th:if="!${invoices.empty}" class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Payment status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="invoice : ${invoices}">
                    <td th:text="${invoice.id}">1</td>
                    <td><a th:href="@{/invoice/{id}(id=${invoice.id})}" th:text="${invoice.name}">Name</a></td>
                    <td th:text="${invoice.name}">Description</td>
                    <td th:if="${invoice.hasPaid} == true">Has paid</td>
                    <td th:if="${invoice.hasPaid} == false">
                        <a class="btn btn-default" th:href="@{/invoice/{id}/updatepaymentstatus(id=${invoice.id})}" th:text="Paid">Paid</a>
                    </td>
                    <td><a th:href="@{/invoice/generate/pdf/{id}(id=${invoice.id})}" th:text="PDF">PDF</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer class="footer">
        <div th:replace="fragments/footer :: footer"></div>
    </footer>
</body>
</html>