<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>

    <!-- Navigation header -->
    <div th:replace="fragments/header :: header"></div>

    <div class="container">

        <div class="page-header">
            <h1>Invoice</h1>
        </div>
        <p>More info here.</p>

        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2 th:text="${invoice.name}">Naam ...</h2>
                        <div class="row">
                            <div class="col-xs-9">
                                <p>
                                    <span th:text="${invoice.name}">Descr</span><br/>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-default" th:href="'/invoice/' + ${invoice.id} + '/edit'" role="button">Edit</a>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
    </footer>
</body>
</html>