<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>

<!-- Header -->
    <div th:replace="fragments/header :: header"></div>

    <div class="container">

        <div class="page-header">
            <h1>Klant toevoegen</h1>
        </div>
        <p>Hier kun je een nieuwe klant toevoegen.</p>

        <!-- Form om een nieuwe Customer te maken. Het object 'Customer' is het object waarin de
            waarden uit het formulier worden ingevuld. Het is afkomstig uit de CustomerController. -->
        <form action="#" th:action="@{/customer/new}" th:object="${customer}" method="post">


            <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
            </ul>

            <div th:if="${#fields.hasErrors('*')}">
                <div th:with="type='danger', header='Fouten in het formulier'" th:remove="tag">
                    <th:block layout:fragment="alert-summary">
                        <p>Niet alle velden in het formulier zijn correct ingevuld. Corrigeer deze en verzend opnieuw.</p>
                    </th:block>
                </div>
            </div>

            <input type="hidden"
                   th:field="*{id}"
                   th:class="${#fields.hasErrors('id')} ? 'field-error'" />


            <!-- Het formulier wordt na verzenden gevalideerd in de CustomerController.
                Als er fouten waren kun je hier een lijst met foutmeldingen tonen.
                Je kunt ook de melding bij het inputveld tonen (zie code hieronder) en evt. de CSS class
                van het inputveld veranderen. -->
            <!--<ul th:if="${#fields.hasErrors('*')}" class="errorlist">-->
            <!--<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>-->
            <!--</ul>-->

            <!--

            <div th:if="${#fields.hasErrors('*')}">
                <div layout:include="views/customer/alert :: alert" th:with="type='danger', header='Fouten in het formulier'" th:remove="tag">

                    <th:block layout:fragment="alert-content">
                        <p>Niet alle velden in het formulier zijn correct ingevuld. Corrigeer deze en verzend opnieuw.</p>

                    </th:block>
                </div>
            </div>
            <div th:if="${exception}">
                <div layout:include="views/customer/alert :: alert" th:with="type='danger', header='Fouten in het formulier'" th:remove="tag">

                    <th:block layout:fragment="alert-content">
                        <p th:text="${exception}">Exception message</p>
                    </th:block>
                </div>
            </div>

            -->

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name.firstname">Voornaam</label>
                        <!-- th:field="*{firstName}" is de koppeling naar het attribuut 'name' van het object 'Customer'-->
                        <input type="text" class="form-control" id="name.firstname" th:field="*{name.firstName}"/>
                        <p th:if="${#fields.hasErrors('name.firstName')}" th:errors="*{name.firstName}">Name Error</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name.infix">Tussenvoegsel</label>
                        <input type="text" class="form-control" id="name.infix" th:field="*{name.infix}"/>
                        <p th:if="${#fields.hasErrors('name.infix')}" th:errors="*{name.infix}">Name Error</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name.lastname">Achternaam</label>
                        <!-- th:field="*{name}" is de koppeling naar het attribuut 'name' van het object 'Customer'-->
                        <input type="text" class="form-control" id="name.lastname"  th:field="*{name.lastName}"/>
                        <p th:if="${#fields.hasErrors('name.lastName')}" th:errors="*{name.lastName}">Name Error</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="street">Adres</label>
                        <!-- th:field="*{name}" is de koppeling naar het attribuut 'name' van het object 'Customer'-->
                        <input type="text" class="form-control" id="street" th:field="*{address.street}"/>
                        <p th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}">Name Error</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="address.zipCode">Postcode</label>
                        <input type="text" class="form-control" id="address.zipCode" th:field="*{address.zipCode}"/>
                        <p th:if="${#fields.hasErrors('address.zipCode')}" th:errors="*{address.zipCode}">Name error</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="address.city">Plaats</label>
                        <input type="text" class="form-control" id="address.city" th:field="*{address.city}"/>
                        <p th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}">Name Error</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" th:field="*{email}"/>
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="phone">Telefoon</label>
                        <input type="text" class="form-control" id="phone" th:field="*{phoneNumber}"/>
                        <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Name Error</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="birthdate">Geboortedatum</label>
                        <input type="date" class="form-control" id="birthdate" th:field="*{birthDate}"/>
                        <p th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">Name Error</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="bsn">BSN</label>
                        <input type="text" class="form-control" id="bsn" th:field="*{bsn}"/>
                        <p th:if="${#fields.hasErrors('bsn')}" th:errors="*{bsn}">Name Error</p>

                        <!-- Hidden input type which we will have the value of the old id, this is needed when changing name
                            as we use the id of an Customer as identifier when removing it, and we need to remove the
                            insurance with the old id.. -->
                        <input type="hidden" class="form-control" id="id" th:field="*{id}"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="gender">Geslacht</label>
                        <select th:field="*{gender}">
                            <option id="gender"
                                    th:each="genderType : ${T(nl.avans.ivh11.Facturering.domain.customer.Gender).values()}"
                                    th:value="${genderType.getValue()}"
                                    th:text="${genderType.getMsg()}">testgeslacht</option>
                            <p th:if="${#fields.hasErrors('gender')}"
                               th:errors="*{gender.name}">Name Error</p>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="insurance">Verzekering</label>
                        <select th:field="*{insurance.id}">
                            <option value="0"></option>
                            <option id="insurance" th:each="insurance2 : ${insurances}"
                                    th:value="${insurance2.id}"
                                    th:text="${insurance2.name}">Verzekering</option>
                            <p th:if="${#fields.hasErrors('insurance.id')}"
                               th:errors="*{insurance.id}">Name Error</p>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="fysioPackage">Fysio pakket</label>
                        <input th:type="checkbox" id="fysioPackage" th:field="*{fysioPackage}" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="dentalPackage">Tandarts pakket</label>
                        <input th:type="checkbox" id="dentalPackage" th:field="*{dentalPackage}" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="deductables">Eigen risico</label>
                        <input type="text" class="form-control" id="deductables" th:field="*{deductables}"/>
                        <p th:if="${#fields.hasErrors('deductables')}" th:errors="*{deductables}">Name Error</p>
                    </div>
                </div>
            </div>

            <!-- Uncomment below to "fix" errors -->

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="discountStrategy">Korting</label>
                        <select th:field="*{insurance.discountStrategy}">
                            <option value="0"></option>
                            <option id="discountStrategy" th:each="discount : ${discounts}"
                                    th:value="${discount.id}"
                                    th:text="${discount.name}">Korting</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- De button die voor verzenden van het formulier zorgt.
                De name 'save' is een parameter waarmee in de CustomerController de juiste
                save-actie wordt gestart. -->
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary" name="save">Bevestigen</button>
                </div>
                <div class="col-sm-6">
                    <a href="/customer" class="btn btn-primary pull-right" role="button">Terug naar het overzicht</a>
                </div>
            </div>

        </form>
    </div>

    <footer class="footer">
        <div th:replace="fragments/footer :: footer"></div>
    </footer>
</body>
</html>