<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>

    <!-- Navigation header -->
    <div th:replace="fragments/header :: header"></div>

    <div class="container">

        <div class="page-header">
            <h1>Customer</h1>
        </div>
        <p>More info here.</p>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3"><b>Naam:</b></div>
                    <div class="col-xs-9"><p th:text="${customer.name}">Naam ...</p></div>

                    <div class="col-xs-3"><b>Adres:</b></div>
                    <div class="col-xs-9">
                        <p>
                            <span th:text="${customer.getAddress().street}"><b>Adres:</b></span>
                            <span th:text="${customer.getAddress().zipCode}"><b>ZipCode:</b></span><br/>
                            <span th:text="${customer.getAddress().city}"><b>Street:</b></span>
                        </p>
                    </div>
                    <div class="col-xs-3"><b>Email:</b></div>
                    <div class="col-xs-9"><p th:text="${customer.email}">Email ...</p>
                    </div>
                    <div class="col-xs-3"><b>Telefoon:</b></div>
                    <div class="col-xs-9"><p th:text="${customer.phoneNumber}">Tele ...</p>
                    </div>
                    <div class="col-xs-3"><b>Geslacht</b></div>
                    <div class="col-xs-9"><p th:text="${customer.gender.getMsg()}">Geslacht ...</p>
                    </div>
                    <div class="col-xs-3"><b>Verzekering:</b></div>
                    <div class="col-xs-9"><p th:text="${customer.insurance.getName()}">Verzekering ...</p>
                    </div>
                    <div class="col-xs-3"><b>Geboortedatum:</b></div>
                    <div class="col-xs-9"><p th:text="${customer.birthDate}">Verzekering ...</p>
                    </div>
                    <div class="col-xs-3"><b>BSN:</b></div>
                    <div class="col-xs-9"><p th:text="${customer.bsn}">Verzekering ...</p>
                    </div>
                    <div class="col-xs-3"><b>Eigen risico:</b></div>
                    <div class="col-xs-9"><p th:text="${customer.deductables}">Eigen risico ...</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <a href="/customer" class="btn btn-primary active pull-left" role="button">Terug naar het overzicht</a>
            </div>
            <div class="col-sm-6">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-danger pull-right" data-toggle="modal" data-target="#myModal">
                    Verwijderen
                </button>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Customer verwijderen</h4>
                    </div>
                    <div class="modal-body">
                        <p>Weet je zeker dat je deze klant wilt verwijderen?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Nee, annuleer</button>

                        <button class="btn btn-secondary"><a th:href="@{/customer/delete/{id}(id=${customer.id})}">Ja,verwijder</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
    </footer>
</body>
</html>