<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>

<!-- Header -->
    <div th:replace="fragments/header :: header"></div>

    <div class="container">

        <div class="page-header">
            <h1>Create Insurance Company</h1>
        </div>
        <p>Add an insurance company</p>

        <form action="#" th:action="@{/insurance_company/new}" th:object="${insuranceCompany}" method="post">

            <!-- Het formulier wordt na verzenden gevalideerd in de InsuranceCompanyController.
                Als er fouten waren kun je hier een lijst met foutmeldingen tonen.
                Je kunt ook de melding bij het inputveld tonen (zie code hieronder) en evt. de CSS class
                van het inputveld veranderen. -->
            <!--<ul th:if="${#fields.hasErrors('*')}" class="errorlist">-->
            <!--<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>-->
            <!--</ul>-->

            <div th:if="${#fields.hasErrors('*')}">
                <div layout:include="views/insurance_companies/alert :: alert" th:with="type='danger', header='Fouten in het formulier'" th:remove="tag">
                    <!--/* Implements alert content fragment with full-blown HTML content */-->
                    <th:block layout:fragment="alert-content">
                        <p>Niet alle velden in het formulier zijn correct ingevuld. Corrigeer deze en verzend opnieuw.</p>
                        <!--<p><button type="button" class="btn btn-danger">Take this action</button></p>-->
                    </th:block>
                </div>
            </div>
            <div th:if="${exception}">
                <div layout:include="views/insurance_companies/alert :: alert" th:with="type='danger', header='Fouten in het formulier'" th:remove="tag">
                    <!--/* Implements alert content fragment with full-blown HTML content */-->
                    <th:block layout:fragment="alert-content">
                        <p th:text="${exception}">Exception message</p>
                    </th:block>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Naam</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}"/>
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="kvK">Kvk</label>
                        <input type="text" class="form-control" id="kvK"  th:field="*{kvK}"/>
                        <p th:if="${#fields.hasErrors('kvK')}" th:errors="*{kvK}">Name Error</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="taxNumber">Belastingnummer</label>
                        <input type="text" class="form-control" id="taxNumber" th:field="*{taxNumber}"/>
                        <p th:if="${#fields.hasErrors('taxNumber')}" th:errors="*{taxNumber}">Name Error</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="address.street">Adres</label>
                        <input type="text" class="form-control" id="address.street" th:field="*{address.street}"/>
                        <p th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}">Name Error</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="address.zipcode">Postcode</label>
                        <input type="text" class="form-control" id="address.zipcode" th:field="*{address.zipCode}"/>
                        <p th:if="${#fields.hasErrors('address.zipCode')}" th:errors="*{address.zipCode}">Name Error</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="city">Plaats</label>
                        <input type="text" class="form-control" id="address.city" th:field="*{address.city}"/>
                        <p th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}">Name Error</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" th:field="*{email}"/>
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="bank">Bank</label>
                        <input type="text" class="form-control" id="bank" th:field="*{bank}"/>
                        <p th:if="${#fields.hasErrors('bank')}" th:errors="*{bank}">Name Error</p>
                    </div>
                </div>
            </div>
            <!-- De button die voor verzenden van het formulier zorgt.
                De name 'save' is een parameter waarmee in de MemberController de juiste
                save-actie wordt gestart. -->
            <button type="submit" class="btn btn-primary" name="save">Submit</button>
        </form>
    </div>

    <footer class="footer">
        <div th:replace="fragments/footer :: footer"></div>
    </footer>
</body>
</html>