<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>

    <!-- Navigation header -->
    <div th:replace="fragments/header :: header"></div>

    <div class="container">

        <div class="page-header">
            <h1>Insurance company</h1>
        </div>
        <p>More info here.</p>

        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2 th:text="${insuranceCompany.name}">Naam ...</h2>
                        <div class="row">
                            <div class="col-xs-9">
                                <p>
                                    <span th:text="${insuranceCompany.address.street}"></span><br/>
                                    <span th:text="${insuranceCompany.address.zipCode}"></span>
                                    <span th:text="${insuranceCompany.address.city}"></span>
                                </p>
                            </div>
                            <div class="col-xs-3"><b>Email:</b></div>
                            <div class="col-xs-9"><p th:text="${insuranceCompany.email}"></p></div>
                            <div class="col-xs-3"><b>KvK:</b></div>
                            <div class="col-xs-9"><p th:text="${insuranceCompany.kvK}"></p></div>
                            <div class="col-xs-3"><b>BTW-nummer:</b></div>
                            <div class="col-xs-9"><p th:text="${insuranceCompany.taxNumber}"></p></div>
                            <div class="col-xs-3"><b>Bank:</b></div>
                            <div class="col-xs-9"><p th:text="${insuranceCompany.bank}"></p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-default" th:href="'/insurance_company/' + ${insuranceCompany.id} + '/edit'" role="button">Edit</a>
            </div>
        </div>

    <footer class="footer">
        <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
    </footer>
</body>
</html>