<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>

<!-- Header -->
    <div th:replace="fragments/header :: header"></div>

    <div class="container">

        <div class="page-header">
            <h1>Create Insurance</h1>
        </div>
        <p>Add a insurance</p>

        <form action="#" th:action="@{/insurance/new}" th:object="${insurance}" method="post">

            <!-- Het formulier wordt na verzenden gevalideerd in de InsuranceController.
                Als er fouten waren kun je hier een lijst met foutmeldingen tonen.
                Je kunt ook de melding bij het inputveld tonen (zie code hieronder) en evt. de CSS class
                van het inputveld veranderen. -->
            <!--<ul th:if="${#fields.hasErrors('*')}" class="errorlist">-->
            <!--<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>-->
            <!--</ul>-->

            <div th:if="${#fields.hasErrors('*')}">
                <div layout:include="views/insurance/alert :: alert" th:with="type='danger', header='Fouten in het formulier'" th:remove="tag">
                    <!--/* Implements alert content fragment with full-blown HTML content */-->
                    <th:block layout:fragment="alert-content">
                        <p>Niet alle velden in het formulier zijn correct ingevuld. Corrigeer deze en verzend opnieuw.</p>
                        <!--<p><button type="button" class="btn btn-danger">Take this action</button></p>-->
                    </th:block>
                </div>
            </div>
            <div th:if="${exception}">
                <div layout:include="views/insurance/alert :: alert" th:with="type='danger', header='Fouten in het formulier'" th:remove="tag">
                    <!--/* Implements alert content fragment with full-blown HTML content */-->
                    <th:block layout:fragment="alert-content">
                        <p th:text="${exception}">Exception message</p>
                    </th:block>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="name">Naam verzekering:</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}"/>
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">De opgegeven naam is niet correct.</p>
                    </div>
                    <div class="form-group">
                        <label for="insurancecompanies">Bijbehorende Verzekeraar:</label>
                        <select th:field="*{insuranceCompany.id}">
                            <option id="insurance" th:each="ic : ${insurancecompanies}"
                                    th:value="${ic.id}"
                                    th:text="${ic.name}">Verzekeraar</option>
                            <p th:if="${#fields.hasErrors('insuranceCompany.id')}"
                               th:errors="*{insuranceCompany.id}">De opgegeven verzekeraar is niet correct.</p>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">

                    <button class="btn btn-primary" type="submit" name="addRow" >Behandeling toevoegen</button>
                    <div th:each="t, stat : *{includedTreatments}">
                        <div th:text="${t.name}" th:name="${t.name}" >Item description here...</div>

                        <select th:field="*{includedTreatments[__${stat.index}__].name}" class="form-control input-sm ofa">

                            <div th:each="ltt, stat : ${loadedTreatments}">
                                <option  th:value="${ltt.name}"
                                         th:if="${ltt.getName().equals(t.getName())}"
                                         th:text="${ltt.name}" selected="selected"></option>
                                <option  th:value="${ltt.name}"
                                         th:if="${!ltt.getName().equals(t.getName())}"
                                         th:text="${ltt.name}"></option>
                            </div>
                        </select>
                        <button type="submit" name="removeRow" th:value="${stat.index}" ><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>
            </div>
            <!-- De button die voor verzenden van het formulier zorgt.
                De name 'save' is een parameter waarmee in de MemberController de juiste
                save-actie wordt gestart. -->
            <button type="submit" class="btn btn-primary" name="save">Submit</button>
        </form>
    </div>

    <footer class="footer">
        <div th:replace="fragments/footer :: footer"></div>
    </footer>
</body>
</html>