<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>

    <!-- Header -->
    <div th:replace="fragments/header :: header"></div>

    <div class="container">

        <div class="page-header">
            <h1>List of insurances</h1>
        </div>
        <p>More info here.</p>

        <div th:if="${insurances.empty}">
            <p>No insurances were found.</p>
        </div>

        <table th:if="!${insurances.empty}" class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="insurance : ${insurances}">
                    <td th:text="${insurance.id}">1</td>
                    <td><a th:href="@{/insurance/{id}(id=${insurance.id})}" th:text="${insurance.name}">Name</a></td>
                    <td th:text="${insurance.name}">Description</td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer class="footer">
        <div th:replace="fragments/footer :: footer"></div>
    </footer>
</body>
</html>