<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>

<!-- Header -->
    <div th:replace="fragments/header :: header"></div>

    <div class="container">

        <div class="page-header">
            <h1>Create Treatment</h1>
        </div>
        <p>Add a treatment</p>

        <form id="createTreatmentForm"
              action="#" th:action="@{/treatment/new}"
              th:object="${treatment}" method="post">

            <!-- Het formulier wordt na verzenden gevalideerd in de MemberController.
                Als er fouten waren kun je hier een lijst met foutmeldingen tonen.
                Je kunt ook de melding bij het inputveld tonen (zie code hieronder) en evt. de CSS class
                van het inputveld veranderen. -->
            <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
            </ul>

            <div th:if="${#fields.hasErrors('*')}">
                <div th:with="type='danger', header='Fouten in het formulier'" th:remove="tag">
                    <th:block layout:fragment="alert-summary">
                        <p>Niet alle velden in het formulier zijn correct ingevuld. Corrigeer deze en verzend opnieuw.</p>
                    </th:block>
                </div>
            </div>

            <input type="hidden"
                   th:field="*{id}"
                   th:class="${#fields.hasErrors('id')} ? 'field-error'" />

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <!-- th:field="*{name}" is de koppeling naar het attribuut 'name' van het object 'repository'-->
                        <input type="text" class="form-control" id="name" th:field="*{name}"/>
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="code">Code</label>
                        <!-- th:field="*{name}" is de koppeling naar het attribuut 'name' van het object 'repository'-->
                        <input type="text" class="form-control" id="code" th:field="*{code}"/>
                        <p th:if="${#fields.hasErrors('code')}" th:errors="*{code}">Code Error</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="sessionsAmount">sessionsAmount</label>
                        <!-- th:field="*{name}" is de koppeling naar het attribuut 'name' van het object 'repository'-->
                        <input type="text" class="form-control" id="sessionsAmount" th:field="*{sessionsAmount}"/>
                        <p th:if="${#fields.hasErrors('sessionsAmount')}" th:errors="*{sessionsAmount}">sessionsAmount Error</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="sessionLength">sessionLength</label>
                        <!-- th:field="*{name}" is de koppeling naar het attribuut 'name' van het object 'repository'-->
                        <input type="text" class="form-control" id="sessionLength" th:field="*{sessionLength}"/>
                        <p th:if="${#fields.hasErrors('sessionLength')}" th:errors="*{sessionLength}">sessionLength Error</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="priceRate">priceRate</label>
                        <!-- th:field="*{name}" is de koppeling naar het attribuut 'name' van het object 'repository'-->
                        <input type="text" class="form-control" id="priceRate" th:field="*{priceRate}"/>
                        <p th:if="${#fields.hasErrors('priceRate')}" th:errors="*{priceRate}">priceRate Error</p>
                    </div>
                </div>
            </div>
            <!-- De button die voor verzenden van het formulier zorgt.
                De name 'save' is een parameter waarmee in de MemberController de juiste
                save-actie wordt gestart. -->
            <button type="submit" class="btn btn-primary" name="save">Submit</button>
        </form>
    </div>

    <footer class="footer">
        <div th:replace="fragments/footer :: footer"></div>
    </footer>
</body>
</html>