<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>

    <!-- Header -->
    <div th:replace="fragments/header :: header"></div>

    <div class="container">

        <div class="page-header">
            <h1>List of treatments</h1>
        </div>
        <p>More info here.</p>

        <div th:if="${treatments.empty}">
            <p>No treatments were found.</p>
        </div>

        <table th:if="!${treatments.empty}" class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Code</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="treatment : ${treatments}">
                    <td th:text="${treatment.id}">1</td>
                    <td><a th:href="@{/treatment/{id}(id=${treatment.id})}" th:text="${treatment.name}">Name</a></td>
                    <td th:text="${treatment.code}">Code</td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer class="footer">
        <div th:replace="fragments/footer :: footer"></div>
    </footer>
</body>
</html>